@use "reset";
@use "fonts";
@use "variables" as *;


//primitive

* {
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
}

p {
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  margin-bottom: 5px;
}

a, .link {
  text-decoration: underline;
  transition: text-decoration-color 0.25s ease;
  color: inherit;
  outline: none;
  cursor: pointer;
  background: transparent;
  padding: 0;
  margin: 0;
  text-decoration-color: initial;

  &:hover {
    text-decoration-color: transparent;
  }
}

strong {
  font-weight: 800;
}

.hidden {
  display: none;
}

.pb-60 {
  padding-bottom: 60px;
}

//buttons

.btn {
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  color: $color-white;
  transition: filter 0.3s ease;
  text-decoration: none;
  padding: 14px 10px;
  font-size: 13px;
  border: 1px solid;
  border-radius: 4px;

  &:hover {
    filter: brightness(0.85);
  }

  &:active {
    &:hover {
      filter: brightness(0.65);
    }
  }
}

.btn-primary {
  background-color: $color-blue;
  color: $color-white;
  border-color: $color-white;
}

.btn-secondary {
  background-color: $color-white;
  color: $color-dark-grey;
  border-color: $color-grey;
}

.btn-attach {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 12px;
  padding-bottom: 11px;
  background-color: $color-white;
  border: 2px solid $color-blue;
  color: $color-dark-blue;
  font-size: 15px;
  font-weight: 600;
}

.btn-send {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 11px;
  font-size: 15px;
  font-weight: 600;
  height: 48px;
}


// input

input[type="text"],
input[type="email"] {
  position: relative;
  padding: 11px 35px 11px 10px;
  border: 1px solid $color-white;
  border-radius: 3px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.85);
  color: $color-dark-blue;

  &::placeholder {
    color: $color-dark-blue;
  }
}

@media (min-width: 0) {
  p {
    font-size: 16px;
  }

  h1, .h1, h2, .h2 {
    text-transform: uppercase;
    font-weight: 700;
  }
  h1, .h1 {
    font-size: 36px;
    line-height: 1.25;
  }

  h2, .h2 {
    font-size: 26px;
    line-height: 1;
  }

  .blue {
    color: $color-blue;
  }
}

@media (min-width: 767px) {
  p {
    font-size: 20px;
  }

  .btn-send{
    margin-top: 25px;
  }
}

@media (min-width: 1024px) {
  .h1, h1 {
    font-size: 48px;
  }

  .h2, h2 {
    font-size: 36px;
  }

  p {
    font-size: 20px;
  }
}