$image-root: '../images/';

//colors

$color-dark-grey: #2A2B30;
$color-light-grey: #BBBBBB;
$color-pink: #E6416D;
$color-green: #6BB42C;
$color-light: #E4E3DB;
$color-white: #FFFFFF;
$color-beige: #BFBD97;
$color-grey: #6F6D7B;
$color-blue: #3E9CDC;
$color-dark-blue: #272733;


$color-text-dark: $color-dark-grey;
$color-text-light: $color-light;

