@use '../base/variables' as *;

.custom-select {
  display: inline-block;
  position: relative;
  cursor: pointer;
  min-width: 237px;
  padding: 11px 35px 11px 10px;
  border: 1px solid $color-white;
  border-radius: 3px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.85);
  color: $color-dark-blue;

  &.open {
    color: $color-white;
    border-color: #3D4050;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background: rgba(61, 64, 80, 0.85);
  }
}

.selected {
  position: relative;
  user-select: none;

  &:after {
    content: '';
    position: absolute;
    top: -3px;
    right: -35px;
    width: 36px;
    height: 32px;
    background: url("data:image/svg+xml,%0A%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.93375 1.51079C8.93375 1.43936 8.89803 1.359 8.84446 1.30543L8.39803 0.859C8.34446 0.805429 8.2641 0.769714 8.19268 0.769714C8.12125 0.769714 8.04089 0.805429 7.98732 0.859L4.47839 4.36793L0.969462 0.859C0.91589 0.805429 0.835533 0.769714 0.764105 0.769714C0.683748 0.769714 0.612319 0.805429 0.558748 0.859L0.112319 1.30543C0.0587475 1.359 0.0230331 1.43936 0.0230331 1.51079C0.0230331 1.58221 0.0587475 1.66257 0.112319 1.71614L4.27303 5.87686C4.3266 5.93043 4.40696 5.96614 4.47839 5.96614C4.54982 5.96614 4.63018 5.93043 4.68375 5.87686L8.84446 1.71614C8.89803 1.66257 8.93375 1.58221 8.93375 1.51079Z' fill='black'/%3E%3C/svg%3E%0A") 50% 50% no-repeat;
    transition: transform 0.3s ease;
  }

  &.active {
    &:after {
      background: url("data:image/svg+xml,%0A%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.93375 1.51079C8.93375 1.43936 8.89803 1.359 8.84446 1.30543L8.39803 0.859C8.34446 0.805429 8.2641 0.769714 8.19268 0.769714C8.12125 0.769714 8.04089 0.805429 7.98732 0.859L4.47839 4.36793L0.969462 0.859C0.91589 0.805429 0.835533 0.769714 0.764105 0.769714C0.683748 0.769714 0.612319 0.805429 0.558748 0.859L0.112319 1.30543C0.0587475 1.359 0.0230331 1.43936 0.0230331 1.51079C0.0230331 1.58221 0.0587475 1.66257 0.112319 1.71614L4.27303 5.87686C4.3266 5.93043 4.40696 5.96614 4.47839 5.96614C4.54982 5.96614 4.63018 5.93043 4.68375 5.87686L8.84446 1.71614C8.89803 1.66257 8.93375 1.58221 8.93375 1.51079Z' fill='white'/%3E%3C/svg%3E%0A") 50% 50% no-repeat;
      transform: rotate(180deg);
    }
  }
}

.options-container {
  z-index: 15;
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  right: 0;
  background-color: $color-dark-blue;
  border: 1px solid #3D4050;
  border-top: none;
  min-width: 156px;
  max-height: 0;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  color: $color-white;
  transition: max-height 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
/*  scrollbar-color: #3da9fc #2b2b3b;*/
  -webkit-appearance: none;
  appearance: none;

  &.open {
    max-height: 200px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background: #3D4050;
    border-radius: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    /*box-shadow: inset -2px 0 0 $color-dark-blue;*/
  }
  &::-webkit-scrollbar-thumb {
    background: #3da9fc;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-button {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
    -webkit-appearance: none;
    appearance: none;
  }
}

.option {
  cursor: pointer;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 18px;
  line-height: 34px;

  &:hover {
   color: $color-blue;
  }
}